body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 94vw;
  margin: 1vh 3vw;
}

h1 {
  font-size: 2em;
  font-family: 'Staatliches', cursive;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: -5px;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  margin: 0;
}

.header {
  display: flex;
  width: 50vw;
  align-items: flex-start;
  gap: 3vw;
}

.button {
  width: 30px;
  height: 30px;
  background-color: white;
  box-shadow: 1px 1px 2px black;
  border-radius: 50px;
  cursor: pointer;
  display: inline;
  aspect-ratio: 1 / 1;
}

.nav-link {
  list-style-type: none;
  text-decoration: none;
  font-size: 2em;
  font-family: 'Staatliches', cursive;
  color: white;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
  margin: -5px 0;
}

.card-list {
  display: flex;
}

.card-row {
  position: absolute;
}

.front {
  z-index: 1;
}

@media screen and (max-width: 600px) {

  nav {
    align-items: flex-start;
  }

  ul {
    margin-right: 4vw;
    text-align: end;
    width: 50vw;
    display: grid;
    grid-template-columns: 7vw 7vw 7vw;
    grid-template-rows: 5vh 5vh;
  }

  h1 {
    text-align: center;
  }

  .header {
    justify-content: space-between;
    gap: 0;
  }

  .button {
    width: 20px;
    height: 20px;
  }

  .nav-link {
    /* text-align: end; */
    margin: 0;
    font-size: 2em;
  }
}